<style type="text/css">
    <!--
    a.style1:link {
        text-decoration: none;
        color: White;
        font-size: 10px;
    }

    a.style1:visited {
        text-decoration: none;
        color: White;
        font-size: 10px;
    }

    a.style1:hover {
        text-decoration: underline;
        color: White;
        font-weight: normal;
        font-size: 10px;
    }

    a.style1:active {
        text-decoration: none;
        color: White;
        font-size: 10px;
    }
    -->
</style>
